section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-height: 40vh;
    background: radial-gradient(circle at center, var(--primary-color) 50%, black 100%);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid gray;
    gap: 10px;
}

h2 {
    font-size: 2.5rem;
}
a {
    display: block;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--secondary-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

a:hover {
    background: var(--tertiary-color);
}   